.main {
   background-image: url(../../../public/assets/img/home/part2-mobile.png);
   @apply mt-[45px] pt-[130px] lg:pt-[245px] pb-[150px] bg-no-repeat bg-center bg-full 2xl:container mx-auto;
   & h3 {
      @apply text-white font-bold text-center text-4xl md:text-5xl mb-5;
   }
   & ul {
      @apply lg:justify-center lg:gap-x-4;
      & li {
         @apply relative flex flex-col items-center text-center bg-white lg:max-w-[400px] py-[75px] lg:py-[90px] rounded-xl;
         & h6 {
            @apply text-slate-50 text-[220px] lg:text-[280px] font-bold absolute -top-5 z-10;
         }
         &:nth-child(1) .icon {
            @apply bg-Green;
         }
         &:nth-child(2) {
            @apply relative lg:top-12;
            & .icon {
               @apply bg-Blue;
            }
         }
         &:nth-child(3) .icon {
            @apply bg-Yellow;
         }
      }
   }
}
@media screen and (min-width: 768px) {
   .main {
      background-image: none;
   }
}
@media screen and (min-width: 1024px) {
   .main {
      background-image: url('../../../public/assets/img/home/part2.png');
   }
   ul {
      transform: none !important;
   }
}
.icon,
.body {
   @apply z-20 font-bold;
}
.icon {
   @apply w-[75px] h-[75px] flex items-center justify-center font-bold text-2xl rounded-[100%] rounded-bl-[60%] mb-8;
}
.body {
   & h5 {
      @apply text-3xl mb-3;
   }
   & p,
   & span {
      @apply font-normal;
   }
   & h4 {
      @apply mt-5 mb-3;
   }
}
