@import '../vars.scss';

.main {
   @apply pt-12 lg:flex items-start justify-center gap-x-5;
   & .section {
      @apply mb-8 lg:mb-0 px-4;
      .icon {
         @apply flex items-end gap-x-3 mb-5 lg:mb-8;
         & div {
            @apply w-[82px] h-[82px] flex items-center justify-center rounded-[100%] rounded-bl-[60%] font-bold text-2xl;
         }
         & span {
            &::after {
               content: '';
               @apply absolute bottom-[30px] left-0 rounded-full w-3 h-3;
            }
            @apply text-white font-bold relative;
         }
      }
      ol {
         & li {
            @apply flex items-start text-slate-300 text-lg md:text-2xl lg:text-base lg:w-[260px] 2xl:w-[320px] my-3;
            & span {
               @apply text-sm md:text-lg font-bold relative top-[3px] mr-2;
            }
         }
      }
   }
   & .section {
      &:nth-child(1) {
         & .icon span::after {
            background-color: $green-color;
         }
         & .icon div {
            @include fill($green-color, 25);
         }
         & ol li span {
            color: $green-color;
         }
      }
      &:nth-child(2) {
         & .icon span::after {
            background-color: $blue-color;
         }
         & .icon div {
            @include fill($blue-color, 25);
         }
         & ol li span {
            color: $blue-color;
         }
      }

      &:nth-child(3) {
         & .icon span::after {
            background-color: $yellow-color;
         }
         & .icon div {
            @include fill($yellow-color, 25);
         }
         & ol li span {
            color: $yellow-color;
         }
      }
      &:nth-child(4) {
         & .icon span::after {
            background-color: $red-color;
         }
         & .icon div {
            @include fill($red-color, 25);
         }
         & ol li span {
            color: $red-color;
         }
      }
   }
}
