.main {
   background-image: url(../../../public/assets/img/home/part2-mobile.png);
   @apply mt-[45px] pt-[130px] lg:pt-[100px] pb-[130px] bg-no-repeat bg-center bg-full 2xl:container mx-auto;
   & ul {
      @apply container mx-auto px-2 flex flex-col items-center gap-y-5 lg:gap-y-8;
      & li {
         @apply bg-white p-[30px] lg:px-[120px] lg:py-[50px] flex flex-col items-center text-center w-full lg:w-[1000px] rounded-2xl;
         & h3 {
            @apply text-lg lg:text-3xl lg:max-w-[800px] font-bold;
         }
         & strong {
            @apply text-[40px] lg:text-[90px] block my-2 lg:mb-0 lg:mt-10;
         }
         & span {
            @apply self-end;
         }
         & p {
            @apply text-xs lg:text-base text-slate-500 font-light md:max-w-[600px] mt-3;
         }
         &:nth-child(1) {
            @apply lg:left-[80px] relative;
            & strong {
               @apply text-Green;
            }
         }
         &:nth-child(2) {
            @apply lg:right-[80px] relative;
            & strong {
               @apply text-Yellow;
            }
         }
      }
   }
}

@media screen and (min-width: 768px) {
   .main {
      background-image: none;
   }
}
@media screen and (min-width: 1024px) {
   .main {
      background-image: url(../../../public/assets/img/home/part2.png);
   }
}
