@import '../vars.scss';

.main {
   @apply py-0 lg:py-8 2xl:py-28 text-white flex flex-wrap justify-center gap-3;
   & li {
      @apply bg-[#171B29] rounded-3xl p-5 min-h-[130px] lg:min-h-[165px] flex flex-col justify-between;
      & header {
         @apply mb-2 flex items-end gap-x-2 font-bold text-xs lg:text-sm;
         & .icon {
            @apply w-[22px] h-[22px] rounded-[100%] rounded-bl-[60%] opacity-100;
         }
      }
      & h6 {
         @apply font-bold text-sm;
      }
      & div {
         @apply mt-2;
         & p {
            @apply text-slate-300 lg:text-xl truncate w-[130px] lg:w-full;
            &:last-child {
               @apply text-xs lg:text-sm mt-1;
            }
         }
      }
      &:nth-child(4n - 3) header {
         color: $green-color;
         & .icon {
            @include fill($green-color, 20);
         }
      }
      &:nth-child(4n - 2) header {
         color: $yellow-color;
         & .icon {
            @include fill($yellow-color, 20);
         }
      }
      &:nth-child(4n - 1) header {
         color: $blue-color;
         & .icon {
            @include fill($blue-color, 20);
         }
      }
      &:nth-child(4n) header {
         color: $red-color;
         & .icon {
            @include fill($red-color, 20);
         }
      }
   }
}
