$green-color: #22a75d;
$blue-color: #2278d4;
$yellow-color: #ffd100;
$red-color: #e20613;

@mixin fill($color, $blackout) {
   $shadow-color: darken($color, $blackout);
   background-color: $color;
   box-shadow: 0 11px 23px 0 $shadow-color;
}
